
/*
 *
 * Some useful font definitions
 *
 */
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*
 *
 * Some useful colors
 *
 */
$facebook-blue: #4b67a1;
$youtube-red: #cc181e;

@import "gui";



