@import url("http://fonts.googleapis.com/css?family=Inconsolata:100,300,400");
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 *
 * Some useful font definitions
 *
 */
/*
 *
 * Some useful colors
 *
 */
/*
 * Aqua style button
 *
 */
/*
 * inherit the parent element's size and set origin to the top, left corner
 *
 */
/* line 28, ../sass/proton/_gui.sass */
.proton--inherit-size, .page:before, .figure-box:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*
 * Apply @content styles in the input placeholder selector
 *
 */
/* line 50, ../sass/proton/_gui.sass */
.proton--reset-input, .content-box--tab.extended .settings-menu input {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none !important;
  line-height: 1em;
  vertical-align: middle;
  -webkit-appearance: none;
  margin: 0;
  font-size: inherit;
}
/* line 41, ../sass/proton/_gui.sass */
.proton--reset-input::-webkit-input-placeholder, .content-box--tab.extended .settings-menu input::-webkit-input-placeholder {
  font-family: inherit;
  outline: none;
  font-size: inherit;
}
/* line 43, ../sass/proton/_gui.sass */
.proton--reset-input:-moz-placeholder, .content-box--tab.extended .settings-menu input:-moz-placeholder {
  font-family: inherit;
  outline: none;
  font-size: inherit;
}
/* line 45, ../sass/proton/_gui.sass */
.proton--reset-input::-moz-placeholder, .content-box--tab.extended .settings-menu input::-moz-placeholder {
  font-family: inherit;
  outline: none;
  font-size: inherit;
}
/* line 47, ../sass/proton/_gui.sass */
.proton--reset-input:-ms-input-placeholder, .content-box--tab.extended .settings-menu input:-ms-input-placeholder {
  font-family: inherit;
  outline: none;
  font-size: inherit;
}

/*
 * horizontally center a relatively positioned element
 *
 */
/*
 * horizontally center an absolutely positioned element
 *
 */
/*
 * vertically center an absolutely positioned element
 *
 */
/*
 * vertically and horizontally center an absolutely positioned element
 *
 */
/* line 18, ../sass/main.scss */
.page-wrap, .page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 25, ../sass/main.scss */
.page {
  box-sizing: border-box;
}
/* line 28, ../sass/main.scss */
.page:before {
  content: '';
  background: #333;
}

/* line 35, ../sass/main.scss */
.header-box {
  position: relative;
  float: left;
  box-sizing: border-box;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000;
  z-index: 100;
}
/* line 45, ../sass/main.scss */
.header-box .fa, .header-box h1 {
  float: left;
}
/* line 49, ../sass/main.scss */
.header-box h1 {
  display: block;
}
/* line 52, ../sass/main.scss */
.header-box h1 span {
  display: block;
  font-family: "Inconsolata", sans-serif;
  padding: 1em;
  float: left;
}
/* line 59, ../sass/main.scss */
.header-box h1:before {
  float: left;
  padding: 1em 0em 1em 1em;
}
/* line 64, ../sass/main.scss */
.header-box h1[data-action]:hover {
  cursor: pointer;
  color: #fff;
  background: #5eb6c2;
}

/* line 72, ../sass/main.scss */
.figure-box {
  position: relative;
  height: 30em;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin: 4em;
}
/* line 81, ../sass/main.scss */
.figure-box:before {
  content: '';
  background: #222;
}

/* line 88, ../sass/main.scss */
.figure-box--title-handle, .figure-box--content-box {
  position: relative;
  float: left;
  width: 100%;
}

/* line 94, ../sass/main.scss */
.figure-box--content-box {
  height: calc(100% - 3em);
}

/* line 98, ../sass/main.scss */
.figure-box--title-handle {
  padding: 1em;
  height: 3em;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background: -moz-linear-gradient(#ffffff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  background: linear-gradient(#ffffff, #ffffff);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  box-sizing: border-box;
}
/* line 106, ../sass/main.scss */
.figure-box--title-handle a {
  color: #1e494f;
  vertical-align: middle;
  line-height: 1em;
  cursor: pointer;
  float: left;
}
/* line 113, ../sass/main.scss */
.figure-box--title-handle a:active {
  color: #f65a49;
}
/* line 117, ../sass/main.scss */
.figure-box--title-handle a:before {
  font-size: 1.5em;
}
/* line 122, ../sass/main.scss */
.figure-box--title-handle h1 {
  padding-left: 1em;
  display: block;
  float: left;
  font-family: "Inconsolata", sans-serif;
  color: #5eb6c2;
}

/* line 131, ../sass/main.scss */
.figure-box--resize-handle {
  font-size: 1em !important;
  position: absolute;
  z-index: 100;
  right: -1.5em;
  bottom: -1.5em;
  width: 3em;
  height: 3em;
  background: #fff;
  color: #222;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
/* line 145, ../sass/main.scss */
.figure-box--resize-handle .fa {
  margin-top: 1.5em;
  margin-left: 0.1em;
}
/* line 148, ../sass/main.scss */
.figure-box--resize-handle .fa:before {
  display: block;
  margin-top: -0.5em;
  font-size: 1em;
}

/* line 156, ../sass/main.scss */
.figure-box--info-menu {
  display: none;
  padding: 1em;
}
/* line 160, ../sass/main.scss */
.figure-box--info-menu.show {
  display: block;
}
/* line 164, ../sass/main.scss */
.figure-box--info-menu .field {
  float: left;
  width: 50%;
  font-family: "Inconsolata", sans-serif;
  padding: 0.25em;
  box-sizing: border-box;
}
/* line 171, ../sass/main.scss */
.figure-box--info-menu .field .label, .figure-box--info-menu .field .value {
  float: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}
/* line 177, ../sass/main.scss */
.figure-box--info-menu .field .value {
  padding-left: 1em;
}

/* line 187, ../sass/main.scss */
.magic-box {
  top: 50%;
}

/* line 191, ../sass/main.scss */
.settings-box {
  top: 35%;
}

/* line 195, ../sass/main.scss */
.content-box--tab {
  position: absolute;
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
  color: #222;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  cursor: pointer;
}
/* line 206, ../sass/main.scss */
.content-box--tab .settings-menu {
  display: none;
}
/* line 208, ../sass/main.scss */
.content-box--tab:hover {
  background: #5eb6c2;
  color: #fff;
}
/* line 213, ../sass/main.scss */
.content-box--tab a.fa {
  padding: 1em;
}
/* line 215, ../sass/main.scss */
.content-box--tab a.fa span {
  display: none;
  color: #fff;
  font-family: "Inconsolata", sans-serif;
  float: left;
}
/* line 222, ../sass/main.scss */
.content-box--tab.extended {
  padding: 0.25em;
  background: #5eb6c2;
  color: #fff;
  z-index: 100;
}
/* line 229, ../sass/main.scss */
.content-box--tab.extended a.fa:before {
  float: left;
}
/* line 230, ../sass/main.scss */
.content-box--tab.extended a.fa span {
  display: block;
  padding-left: 1em;
}
/* line 233, ../sass/main.scss */
.content-box--tab.extended .settings-menu {
  display: block;
  width: 15em;
  background: #5eb6c2;
}
/* line 238, ../sass/main.scss */
.content-box--tab.extended .settings-menu .field {
  float: left;
  width: 100%;
  padding: 1em;
  background: #333;
  box-sizing: border-box;
  margin-bottom: 3px;
  border-radius: 5px;
}
/* line 247, ../sass/main.scss */
.content-box--tab.extended .settings-menu .field.update {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #337d87;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.6), 0px 1px 1px -1px white inset;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYmVjOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVlYjZjMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #70bec9), color-stop(100%, #5eb6c2));
  background: -moz-linear-gradient(#70bec9, #5eb6c2);
  background: -webkit-linear-gradient(#70bec9, #5eb6c2);
  background: linear-gradient(#70bec9, #5eb6c2);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  -moz-transition: background 0.25s, box-shadow 0.25s;
  -o-transition: background 0.25s, box-shadow 0.25s;
  -webkit-transition: background 0.25s, box-shadow 0.25s;
  transition: background 0.25s, box-shadow 0.25s;
}
/* line 18, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu .field.update:hover {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75), 0px 1px 1px -1px white inset;
}
/* line 20, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu .field.update:active {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlYjZjMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwYmVjOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5eb6c2), color-stop(100%, #70bec9));
  background: -moz-linear-gradient(#5eb6c2, #70bec9);
  background: -webkit-linear-gradient(#5eb6c2, #70bec9);
  background: linear-gradient(#5eb6c2, #70bec9);
}
/* line 249, ../sass/main.scss */
.content-box--tab.extended .settings-menu .field.update span {
  width: 100%;
  text-align: center;
}
/* line 253, ../sass/main.scss */
.content-box--tab.extended .settings-menu span {
  float: left;
  font-family: "Inconsolata", sans-serif;
  font-size: 12pt;
  line-height: 1em;
  vertical-align: middle;
}
/* line 261, ../sass/main.scss */
.content-box--tab.extended .settings-menu input {
  font-family: "Inconsolata", sans-serif;
  color: #fff;
  float: left;
  padding-left: 1em;
  width: 7em;
}
/* line 41, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu input::-webkit-input-placeholder {
  color: #aaa;
}
/* line 43, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu input:-moz-placeholder {
  color: #aaa;
}
/* line 45, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu input::-moz-placeholder {
  color: #aaa;
}
/* line 47, ../sass/proton/_gui.sass */
.content-box--tab.extended .settings-menu input:-ms-input-placeholder {
  color: #aaa;
}

/* line 288, ../sass/main.scss */
.figure {
  box-sizing: border-box;
  padding: 2em;
  transition: -webkit-filter 0.25s;
  cursor: move;
}
/* line 294, ../sass/main.scss */
.figure.hidden {
  -webkit-filter: blur(15px);
}

/* line 301, ../sass/main.scss */
.axis path, .axis line {
  fill: none;
  stroke: #5eb6c2;
  shape-rendering: crispEdges;
}
/* line 307, ../sass/main.scss */
.axis text {
  font-family: "Inconsolata", sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  fill: #5eb6c2;
}

/* line 315, ../sass/main.scss */
.line-plot {
  fill: none;
  stroke-width: 1;
  stroke: #5eb6c2;
}

/* line 321, ../sass/main.scss */
.area-plot {
  stroke-width: 0;
  fill: rgba(94, 182, 194, 0.5);
}

/* line 326, ../sass/main.scss */
.tick {
  stroke-dasharray: 1, 2;
}
