//- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//-	
//- Main Layout
//-
//- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

//- global variables
block vars

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jqueryui/jquery-ui.min.js")
		block head
	body
		block body
		.page-wrap
			.page
				block page